<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="D08_Advanced.Properties.Settings.ConnectionString"
            connectionString="Data Source=mariz.dynip.sapo.pt;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="D08_Advanced.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=mariz.dynip.sapo.pt;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>